#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}

body
{
	
	background-size: 60% 100%;
	size: 100%;
	background-repeat: no-repeat;
	background-position: fixed;
	background-color: blue;

	

}
