#menu
{

}

body
{
	
	background-image: url("reka5.jpg");
	background-size: 100%;
	size: 100%;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;


}

a
{
	font: bold 12px/30px Georgia, serif;
	font-size: 100%;
	text-decoration: none;
	color: black;
	text-align: center;
	border-right: 1px solid rgb(159, 209, 207);
}

#title
{
	font: bold 12px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: black;
	text-align: center;
	border-right: 1px solid rgb(159, 209, 207);
}
